//MediaSizes
$phoneWidth: 576px;
$tabletWidth: 768px;
$desktopWidth: 992px;
$largeDesktopWidth: 1200px;

//Fonts
$roboto: "Roboto", sans-serif;

//Colors
$white: #FFFFFF;
$black: #000000;
$wildSand: #F5F5F5;
$alto: #D6D6D6;
$boulder: #757575;
$orange: #FB8C00;